html,
body {

    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}


a {
    /*  text-decoration: none; */
    color: gray;
}

a:hover {
    color: black;
    letter-spacing: 4px;
}

h1 {
    color: #555;
    font-size: 25px;
    font-weight: normal;
    padding: 20px 0;
    border-bottom: 1px dashed #ccc;
    letter-spacing: 3px;
}

h2 {
    letter-spacing: 2px;
    padding-bottom: 2%;
    margin-top: 6%;
    border-bottom: 1px dotted #ccc;
}

h3 {
    margin-left: 1.5em;
}

img.content {
    display: block;
    margin: 5% auto;
    max-width: 90%;
}

li {
    margin-bottom: 2%;
}

p {
    margin-bottom: 3%;
    text-indent: 2em;
    text-align: justify;
    line-height: 160%;
    padding-right: 1%;
    letter-spacing: 1px;
}

.xml-tag,
.sql-ddl-keyword {
    color: goldenrod;
}

.xml-attribute,
.sql-field {
    color: rgb(247, 138, 138);
}

.xml-string,
.code-string {
    color: green;
}

.xml-comment {
    color: gray;
}


.code,
.c {
    font-family: "Liberation Serif", "DejaVu serif", "Source Code Pro", Monaco, Menlo, Consolas, monospace;
    font-size: 16px;
}

.c {
    background-color: #eee;
    color: cadetblue;
    padding: 2px 6px;
}

.code {
    border: 1px solid #eee;
    border-left-width: 3px;
    padding: 1% 2%;
    background-color: #fbfbfb;
}

table {
    text-align: center;
    width: 80%;
    border: 1px solid lightgray;
    margin: 0 auto;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid lightgray;
    padding: 1%;
    min-width: 185px;
}