/* html,
body {
    overflow: hidden;
} */

body {
    padding: 0;
    margin: 0;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
    padding-left: 10px;
}

a {
    /*  text-decoration: none; */
    color: gray;
    word-break: break-all;
}

a:hover {
    color: black;
}

h1 {
    color: #555;
    font-size: 25px;
    font-weight: normal;
    padding: 20px 0;
    border-bottom: 1px dashed #ccc;
    letter-spacing: 3px;
}

h2 {
    letter-spacing: 2px;
    padding-bottom: 2%;
    margin-top: 6%;
    border-bottom: 1px dotted #ccc;
}

h3 {
    margin-left: 1.5em;
}

img.content {
    display: block;
    margin: 5% auto;
    max-width: 90%;
}

li {
    margin-bottom: 2%;
}

p {
    margin-bottom: 3%;
    text-indent: 2em;
    text-align: justify;
    line-height: 160%;
    padding-right: 1%;
    letter-spacing: 1px;
}

.xml-tag,
.js-keyword,
.java-keyword,
.yaml-keyword,
.sql-ddl-keyword {
    color: goldenrod;
}

.xml-attribute,
.java-anno,
.yaml-value,
.sql-field {
    color: rgb(247, 138, 138);
}

.xml-string,
.yaml-string,
.code-string {
    color: green;
}

.yaml-comment,
.xml-comment {
    color: gray;
}

.code,
code,
.c {
    font-family: "Liberation Serif", "DejaVu serif", "Source Code Pro", Monaco, Menlo, Consolas, monospace;
    font-size: 16px;
}

.c,
code {
    background-color: #eee;
    color: cadetblue;
    padding: 2px 5px;
    word-break: break-all;
}

.code {
    border: 1px solid #eee;
    border-left-width: 3px;
    padding: 1% 2%;
    background: linear-gradient(to right, rgba(251, 251, 251, 1), rgba(251, 251, 251, 0));
    width: 90%;
    overflow-x: auto;
}

.ref {
    border-left: 3px solid #eee;
    padding: 1% 2%;
    margin-left: 10px;
    color: gray;
}

table {
    text-align: center;
    width: 80%;
    border: 1px solid lightgray;
    margin: 0 auto;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid lightgray;
    padding: 1%;
    min-width: 185px;
}

.external-link {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 4px;
    border: 2px solid gray;
    position: relative;
    margin: 0 5px;
}

.external-link::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 8px;
    width: 6px;
    height: 6px;
    background-color: white;
}

.external-link span {
    position: absolute;
    display: block;
    text-indent: 0;
    top: -11px;
    left: 0px;
    font-weight: bold;
    font-size: 18px;
}

.trc_rbox_container {
    display: none;
}

.release-date {
    color: lightgray;
    font-size: 14px;
    padding-left: 50px;
    font-weight: normal;
}