html {
    padding: 0;
    margin: 0;
    background-color: #e3e3e3;
    text-rendering: optimizelegibility;
    font: 250 .95em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}

body {
    margin: 20px auto;
    background-color: white;
    width: 800px;
    border: 1px solid lightgray;
    padding: 2% 3%;
    height: auto;
    color: #3c3c3c;
}

a {
    color: #606c71;
}

a:hover {
    color: black;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.avatar {
    float: right;
}

a {
    text-decoration: underline;
}

p {
    text-indent: 2em;
    font-size: 16px;
    line-height: 2;
    text-align: justify;
    margin: 8px 15px;
    letter-spacing: 1px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-weight: 500;
    color: black;
}

h2 {
    color: black;
    letter-spacing: 3px;
    font-family: "Noto Serif TC", "source-han-serif-tc", Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-bottom: 1px solid lightgray;
    margin: 30px 0;
}

li {
    font-size: 16px;
    margin: 8px 20px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

dl {
    border-top: 2px solid lightgray;
    padding-top: 20px;
}

.t {
    width: 150px;
}

td {
    letter-spacing: 1px;
}

hr {
    border: 0;
    border-top: 1px dotted lightgray;
}

dt {
    min-width: 140px;
    display: inline-block;
    margin-bottom: 8px;
    vertical-align: top;
}

dt,
dd {
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
}

dd {
    margin-left: 0;
}

dd li {
    max-width: 630px;
    margin: 0 0 4px 0;
}

@media print {

    /* 所有的打印样式在这里设置 */
    body {
        border: 0;
    }
}


/* 手机端浏览器所显示的网页 CSS */

@media screen and (max-width:480px) {
    * {
        -webkit-tap-highlight-color: transparent;
        /* 很多 Android 浏览器的 a 链接有边框，这里取消它  */
        -webkit-touch-callout: none;
        /* 在 iOS 浏览器里面，假如用户长按 a 标签，都会出现默认的弹出菜单事件 */
        /* -webkit-user-select:none; */
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    html {
        background-color: white;
        padding: 0;
        margin: 0;
    }

    body {
        width: 100%;
        border: 0;
        padding: 0px;
        padding-left: 15px;
        box-sizing: border-box;
        margin: 0;
    }
}

.external-link {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 4px;
    border: 2px solid gray;
    position: relative;
    margin: 0 5px;
    display: none;
}

.external-link::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 8px;
    width: 6px;
    height: 6px;
    background-color: white;
    display: none;

}

.external-link span {
    position: absolute;
    display: block;
    text-indent: 0;
    top: -16px;
    left: 0px;
    font-weight: bold;
    font-size: 18px;
    display: none;
}

.hide {
    display: none;
}